<h1>Login Below</h1>
<br><br>
<form action='/login' method="post">
  <p>Username: <input type="text" name="username" required/></p><br><br>
  <p>Password <input type="password" name="password" required/></p>
  <input type="submit" value="Submit"/>
</form>
<p>Don't have an account? <a href="/signup">Create One Here!</a></p>
