<h1>Create New Story Here!</h1>

<form method="POST" action="/stories/new">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="genre" placeholder="Genre">
  <input type="text" name="synopsis" placeholder="Story Synopsis">
<button type="submit" id="submit">submit</button>
</form>
