<h1>Welcome, <%=current_user.username%>!</h1>

<h2>Below are all the projects you have previously created:</h2><br><br>
<ul>

<%@stories.each do |story|%>
<%if story.user_id == current_user.id%>
<h3><a href="/stories/<%=story.id%>"><%=story.title%></a><br></h3>
<%end%>
<%end%>

</ul>
<br><br>
<h4>Or click a link below</h4>
<a href="/stories/new">New Story</a><br><br>
<a href="/characters">Characters</a><br><br>
<a href="/events">Events</a><br><br>
<a href="/logout">Log Out</a>
