<h1>Welcome to Writer's Block!</h1><br><br>
<p>Please create an account or log in to you existing account bleow.</p><br><br>

<a href='/signup'><%= "Signup" %></a>
<br><br>
<a href='/login'><%= "Login" %></a>
